/*Ipad dá»c(768 x 1024)*/
@media only screen and (min-width: 740px) and (max-width:1023px) {
    #content .card_product{
        grid-template-columns: repeat(3, 1fr); 
    }
    footer .footer_container {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .line_text_footer{
        text-align: center;
        margin: auto;

    }
    .line_text_footer p{
        text-align: left;
        margin: auto;
    }

    .shop_img{
        margin-top: 50px;
    }

    #content .card_product {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*Iphone(480 x 640)*/
@media only screen and (max-width: 739px) {
    header{
        height: 40px;
    }
    header .frist_header{
        align-items: center;
        box-shadow: 2px 0px 4px rgb(125 134 138 / 60%);
        position: fixed;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 10px 0px;
    }

    .icon_shop {
        display: flex;
        flex-direction: column;
    }

    header .search_icon input {
        position: absolute; 
        top: 10px;
        right: 10px;
        
    }

    .cart .cart_container {
        width: 80%;
    }

    nav{
        padding-top: 120px;
        height: 40px;
    }

    .number_phone p{
        display: none;
    }

    .number_phone i{
        display: block;
    }

    .wrapper{
        margin-top: 80px;
        text-align: center;
    }

    #slider .shop_img {
        display: none;
    }
    
    #slider .control i {
        font-size: 20px;
        
    }

    #slider .control.next {
        right: 50px;
        
    }
    #slider .control.prev {
        left: 50px;
       
    }

    .total {
        margin-top: 50px;
    }

    #content .card_product{
        grid-template-columns: repeat(2, 1fr); 
    }

    #content .collums {
        margin: auto;
        text-align: center;
        padding: 15px;
    }

    .shop_name h1{
        margin-right: 45px;
    }

    nav .nav_body > li {
        padding: 10px;
    }

    #content{
        margin: 20px;
    }

    #content .list_product {
        transform: scale(1.02);
        transition: 0.1;
    }
    #content .body_child img {
        width: 18px;
        margin-top: 25px;
        margin-left: 18px;
    }

    #content .cost_phone {
        padding: 2px 12px;
    }

    footer .footer_container {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #content .container {
        display: grid;
        grid-template-columns: none;
        margin-top: 50px;
    }

    #content .list_products {
        display: none;
    }

    .text_shop{
        text-align: center;
        margin: auto;
        margin-top: 150px;
        display: block;
    }

    .text_shop {
        border: 1px solid;
        padding: 10px;
        box-shadow: 2px 5px #888888;
    }

    .img_apple{
        width: 35px;
        margin-top: px;
    }
      
   
}